node_modules
server
data
plugins
config.yml
.omegga-config.yml
.omegga.yml
.omegga-config.json
.omegga.json
omegga-config.json
omegga.json
omegga-config.yml
omegga.yml
config.json
public/*
dist/
templates/safe-ts/omegga.d.ts
.vsls.json
