.github/
.vscode/
/data/
/plugins/
/src/
/frontend/src/
.omegga-config.yml
.omegga.yml
.prettierrc
.prettierignore
config.json
config.yml
omegga-config.json
omegga.json
test.js
webpack.config.js
vite.config.mts
