@font-face {
  font-family: 'Glacial Indifference';
  src: url('/public/fonts/GlacialIndifferenceBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/public/fonts/GlacialIndifferenceItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/public/fonts/GlacialIndifferenceMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/public/fonts/GlacialIndifferenceRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/RobotoBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/RobotoItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/RobotoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Glacial Indifference';
}