.main-content {
  display: flex;
  flex: 1;
  position: relative;
}

@media screen and (max-width: 600px) {
  .main-content {
    flex-direction: column;
    margin-bottom: 24px;
  }
}

.content-parent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
