@use '../../css/theme';
@use '../../css/mixins';

.br-table {
  width: 100%;
  flex: 1;

  thead th {
    &:hover {
      background-color: theme.$br-element-hover;
    }

    &:active {
      background-color: theme.$br-element-pressed;
    }

    span {
      @include mixins.row;
      align-items: center;
      position: relative;
      cursor: pointer;
      user-select: none;

      padding-left: 20px;

      &.icon-cell {
        padding-right: 0;
      }

      .label,
      .icon {
        padding: 0;
      }

      .icon:not(.label) {
        color: theme.$br-boring-button-fg;
        position: absolute;
        left: 16px;
        transform: translate(-100%);
      }
    }
  }

  tbody tr {
    cursor: pointer;
    user-select: none;

    .ban {
      color: theme.$br-error-normal;
      vertical-align: center;
    }

    &:hover td,
    &.active td {
      background-color: theme.$br-element-hover;
      .username {
        color: theme.$br-boring-button-fg !important;
      }
    }

    &:active td {
      background-color: theme.$br-element-pressed;
    }

    td.player-name {
      .player-name-container {
        display: flex;
        align-items: center;

        .username {
          font-size: 14px;
          color: theme.$br-element-fg;
        }
      }
    }
  }
}
