@use '../../css/theme';

.header {
  align-items: center;
  background-color: theme.$br-bg-header;
  color: theme.$br-fg-header;
  display: flex;
  font-size: theme.$br-header-font;
  font-weight: bold;
  height: theme.$br-header-height;
  padding-left: 20px;
  padding-right: 10px;
  text-transform: uppercase;
}
